.menu ul {
    grid-column: 1 / 2;         /* Controla en qué columnas se sitúa un elemento. El menú ocupa la primera columna */
    display: flex;              /* Cambiado a flex para alinear horizontalmente */
    gap: 2rem;                  /* Espacio entre los elementos */
    list-style: none;           /* Elimina los puntos de la lista */
    padding: 0;                 /* Elimina el padding */
    margin: 0;                  /* Elimina el margin */
    justify-content: left;      /* Nav a la Izquierda*/ 
    font-family: 'Segoe UI', Arial, sans-serif;  /* Fuente  */
    font-size: 16px;            /* Tamaño fuente */
    align-items: center;        /* Centra verticalmente los elementos */
}

.menu ul li a {
    text-decoration: none;  /* Elimina el subrayado */
    color: inherit;         /* Hereda el color del padre */
    font-family: inherit;   /* Hereda la fuente del padre */    
    font-size: inherit;     /* Hereda el tamaño de fuente del padre */
    transition: color 0.2s; /* Efecto de transición al pasar el ratón */
}

.menu ul li a:hover {
    color: #007bff;
}