html {

    font-size: 1rem;

}

/* Estilo para el logo */
.imglogo {

    margin: 50px;
    border: 3px outset solid red;
    width: 150px; /* Ancho fijo de 150px para ajustar el logo */
    height: auto; /* Altura automática para mantener la proporción */

}

/* Contenedores */

.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;       /* Cambiado a 200px para el logo */
    grid-template-rows: auto 1fr auto;      /* Cambiado a auto para el logo */
    gap: 10px;                              /* Espacio entre columnas */
   
}
.main {
   grid-column: 2 / 3; /* El contenido principal ocupa la segunda columna */
}

p.body-text {
    font-size: 1.2rem; /* Aumenta el tamaño del texto */
    color: black; /* Asegúrate de que el color sea visible */
}

.pcolor { /* el punto llama al atributo "class" */

    font-size: 1.2rem; /* Aumenta el tamaño del texto */
    color:blueviolet;
}

#pcolor1 { /* el # llama al atributo "id" */

    font-size: 1.2rem; /* Aumenta el tamaño del texto */
    color:green;
}

.recuadro p {

    color: white !important;
    font-size: 3em;
    width: 25%;
    height: auto;
    background-color: black;
    border: 3px solid green;
}




